:root {
    --blue: #0c569f;
    --teal: #1993a0;
    --black: #272727;
    --orange: #eb5b25;
}


html {
    box-sizing: border-box; /*allows to add padding and border to elements without increasing thier size */
    /* System font stack so things load nice and quick */
    font-family:  'Roboto', sans-serif;
    font-size: 1em;
    color: var(--black);
}

body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    background-color: #ffead9;
}

@media only screen and (max-width: 1025px) {
    body {
        width: 100%;
    }

}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto minmax(650px) 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}


.header {
    grid-area: header;
}


.main {
    grid-area: main;
    background-color: burlywood;
}

.list__col-1 {
    grid-area: list-col-1;
}

.list__col-2 {
    grid-area: list-col-2;
}

.list__col-3 {
    grid-area: list-col-3;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
    background-color: var(--blue);
}

.nav-container {
    width: 100%;
}

nav {
    max-width: 1720px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

nav a {
    color: var(--blue);
    text-decoration: none;
    text-transform: uppercase;
    font-family: Roboto Medium;
    transition: .3s all ease-in-out;
}

nav a:hover {
    opacity: .7;
}


#nav-toggle, .burger-menu {
    display: none;
}

.burger-menu {
    width: 40px;
}

.burger-menu {
    grid-column: 1;
    align-self: center;
    margin-left: 20px;
    font-size: 30px;
    color: var(--blue);
}

@media only screen and (max-width: 1025px) {
    .burger-menu {
        display: inline-block;
    }

    .left-menu {
        display: none;
    }

    #nav-toggle:checked ~ .left-menu {
        display: grid;
        grid-row: 2;
    }
}

.left-menu {
    grid-column: 1;
    align-self: center;
}

.left-menu a {
    padding: 10px 0;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.logo {
    grid-column: 2;
    
}

.logo img {
    max-width: 100%;
    height: auto !important;
}


.right-menu {
    grid-column: 3;
    align-self: center;
    justify-self: end;
    margin-right: 15px;
    font-size: 30px;
}

@media only screen and (max-width: 1025px) {

    .right-menu {
        display: none;
    }
}

.cover {
    box-sizing: border-box;
    width: 100%;
    height: 65vh;
    background-image: url("/images/accounting.jpg");
    background-size: cover;
    background-position: center center;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.cover-text {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: end;
    align-self: center;
    width: 600px;
    height: 100px;
    background-color: var(--blue);
}

.cover-text h2 {
    color: #fff;
    padding-left: 20px;
    font-size: 2em;
    text-transform: uppercase;
}

@media only screen and (max-width: 1025px) {

    .cover-text{
        width: 300px;
        height: 50px;
    }

    .cover-text h2 {
        font-size: 1em;
    }
}

.tagline {
    padding-left: 25px;
}

.service {
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
}

.service-box {
    min-width: 250px;
    padding: 20px;
    background-color: var(--orange);
    border-radius: 25px;
    color: #fff;
}

.service-box h4 {
    text-align: center;
}

.service-box p {
    font-size: .75em;
}

.service-box li {
    font-size: .75em;
}

.service-icon {
    font-size: 60px;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas:
    "content-box advert";
}

@media only screen and (max-width: 1025px) {

    .content {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "content-box"
        "advert";
    }
}

.content-box {
    padding: 10px;
}

.content-box p{
    padding-left: 25px;
    padding-right: 25px;
}

.advert {
    background-color: #fff;
}

.advert img {
    width: 50%;
    height: auto !important;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: auto;
    grid-gap: 10px;
    justify-items: center;
    padding-top: 20px;
}

.footer-grid h3 {
    color: #fff;
}

.footer-grid p {
    color: #fff;
}

.footer-grid a {
    color: #fff;
}

.footer-box {
    display: block;
	width: 400px;
    padding: 20px;
    padding-top: 10px;
}

.social {
    font-size: 40px;
    padding-right: 10px;
}

.footer-logo {
    width: 50%;
    height: auto !important;
}


.copy-right {
    grid-column: 1/-1;
    font-size: 10px;
    color: #fff;
}

.copy-right a{
    color: #fff;
    font-size: 10px;
}